{% include "defaults/header.twig" %}

	{% for object in objects %}
		<article>
			<h1>This is an object</h1>
			
			<p>If you did not made a custom object, this most likely will be a 
				<a href="https://github.com/humanmade/WordPress-Objects/blob/master/wordpress-objects.post.php" target="_blank">
					humanmade/post-object
				</a>
			</p>
			<p>
				That means we can get the title like this: <strong>{{ object.get_title() }}</strong>
			</p>
			<p>
				We are also pretty shure this object
				{% if( object.has_thumbnail() == false )%}
					does not have a
				{% else %}
					has a
				{% endif %}
				thumbnail
			</p>
			<p>
				So good luck building great websites!
			</p>

		</article>
	{% endfor %}

{% include "defaults/footer.twig" %}